<ul class="navbar-nav">
    <AuthorizeView>
        <Authorized>
            <li class="nav-item">
                <span class="nav-link text-light">Hi dear, @context.User.Identity.Name</span>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" href="Identity/Account/Logout">
                    <div class="text-light">
                        <i class="bi bi-box-arrow-right"></i>Logout
                    </div>
                </NavLink>
            </li>
        </Authorized>
        <NotAuthorized>
            <li class="nav-item">
                <NavLink class="nav-link text-light" href="Identity/Account/Register">
                    <i class="bi bi-person-add"></i> Register
                </NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link text-light" href="Identity/Account/Login">
                    <i class="bi bi-door-open-fill"></i> Login
                </NavLink>
            </li>
        </NotAuthorized>
    </AuthorizeView>
</ul>


@code {

}
